#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envelope {
  position: relative;
  width: 320px;
  height: 200px;
  background: #f596aa;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  perspective: 1200px;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  z-index: 3;
}

.flap {
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 92px solid transparent;
  border-top: 108px solid #f596aa;
  pointer-events: none;
  transform-origin: top;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
    transform: rotateX(0deg);
    transition: transform .4s .6s ease, z-index 1s;
    z-index: 5;
}

.pocket {
    border-left: 160px solid #ffbac7;
    border-right: 160px solid #ffbac7;
    border-bottom: 100px solid #f4a7B9;
    border-top: 100px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.show .flap,
.show .pocket{
  z-index:1;
}

.letter {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    top: 5%;
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0,0,0,.12);
}
.letter:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: 
        linear-gradient(180deg, 
        rgba(255,255,255,0.00) 25%, 
        rgba(215,227,239,0.70) 55%, 
        rgba(215,227,239,1.00) 100%);
}

.show .letter{
  animation: popLetter 1s cubic-bezier(.22,1,.36,1) forwards;
  z-index:999;
}
.show .letter::after{
  content: none;
}

@keyframes popLetter{
  0%{
    transform: translateY(-60px) scale(1);
  }
  40%{
    transform: translateY(-220px) scale(1);
  }
  100%{
    transform: translateY(0px) scale(2);
  }
}

.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 10%;
    color: rgba(67,67,67,0.5);
}
.words.line1 {
    top: 15%;
    width: 50%;
    height: 7%;
    color: rgba(67,67,67,1);
}
.words.line2 {
    top: 30%;
    background-color: #eeeff0;
}
.words.line3 {
    top: 45%;
    background-color: #eeeff0;
}
.words.line4 {
    top: 62.5%;
    background-color: #eeeff0;
}
.words.line5 {
    top: 80%;
    background-color: #eeeff0;
}

.close .letter {
    transform: translateY(0px); 
    transition: transform .4s ease, z-index 1s;
    z-index: 1;
}
.open .letter {
    transform: translateY(-60px);
    transition: transform .4s .6s ease, z-index .6s;
    z-index: 2;
}

.show .words {
  background-color: unset;
  color: rgba(67,67,67,1);
}

.show .giftLink {
  z-index: 9999;
}

.hearts {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 2;
}
.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
    pointer-events: none;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background-color: #d0104c;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
}
.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.close .heart {
    opacity: 0;
    animation: none;
}
.a1 {
    left: 20%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    -webkit-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate;
    -moz-animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate;
    animation: 
        slideUp 4s linear 1, 
        sideSway 2s ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a2 {
    left: 55%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate;
    -moz-animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate;
    animation: 
        slideUp 5s linear 1, 
        sideSway 4s ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}
.a3 {
    left: 10%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 1;
    -webkit-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate;
    -moz-animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate; 
    animation: 
        slideUp 7s linear 1, 
        sideSway 2s ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

@-webkit-keyframes slideUp { 
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@keyframes slideUp {     
    0% { 
        top: 0;
    }
    100% { 
        top: -600px;
    }
}
@-webkit-keyframes sideSway { 
    0% { 
        margin-left: 0px;
    }
    100% { 
        margin-left: 50px;
    }
}
@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}